<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>I like breaking and fixing things, mainly interested in offensive security. Currently Working as an Infomation security engineer in banking sector.  
I started this blog to share my experience, struggle and research mostly related to information security.  
The opinions on this blog are strictly my own. There is absolutely no affiliation with my employer or anyone else.  
 </div>
<div>You can view some of my published exploits & vulnerability notices from here, ofcox (very old & useless ): 
</br>
<a href="https://packetstormsecurity.com/search/?q=d3b4g">packetstormsecurity</a></br>
<a href="https://www.exploit-db.com/?author=1459">Exploit-db</a

</div>

 </br>

<h1>Contact</h1> 
<div>If you’d like to communicate with me securely, get my PGP public key from the 
  <a href="https://pgp.mit.edu/pks/lookup?search=0x240B4C44E426997A&op=index">MIT PGP Public Key Server</a>
</br>
<code> Fingerprint: 8F1F ECD3 786D A657 60EB  F644 240B 4C44 E426 997A </code>

</br>
</br>
All the content on this site is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">(CC BY-NC-SA 4.0)</a>

</div>
