<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</div>
---
id: 532
title: About Me
date: 2020-01-24T14:43:40+00:00
author: d3b4g
layout: page
guid: https://blog.ptrace.net/?page_id=532
---
I like breaking stuff, mainly interested in exploit development and offensive security. Currently Working as an Infomation security engineer in the Banking sector.  
I started this blog to share my experience, struggle and research mostly related to information security.  
The opinions on this blog are strictly my own. There is absolutely no affiliation with my employer or anyone else.  
  
You can view some of my published exploits and vulnerability notices here:  
[packetstormsecurity](https://packetstormsecurity.com/search/?q=d3b4g)  
[exploit-db](https://www.exploit-db.com/?author=1459)

Find me on the Internet  
[twitter](https://twitter.com/d3b4g)  


<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>  
All the content on this site is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">(CC BY-NC-SA 4.0)</a>.
